* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 500px;
}

th {
    border: 2px solid black;
}

th,
td {
    overflow: auto;
    white-space: normal;
    padding: 5px;
}